<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>AC Schnitzer</key>
		<array>
			<string>AC Schnitzer 7系</string>
			<string>AC Schnitzer X6</string>
		</array>
		<key>Arash</key>
		<array>
			<string>Arash AF10</string>
		</array>
		<key>奥迪</key>
		<array>
			<string>奥迪TTS</string>
			<string>奥迪A2</string>
			<string>奥迪S4</string>
			<string>奥迪TT offroad</string>
			<string>奥迪R18</string>
			<string>奥迪Cross</string>
			<string>奥迪A1</string>
			<string>奥迪R8</string>
			<string>奥迪S1</string>
			<string>奥迪e-tron</string>
			<string>allroad</string>
			<string>Crosslane Coupe</string>
			<string>奥迪TT RS</string>
			<string>奥迪A5</string>
			<string>奥迪S5</string>
			<string>奥迪TT</string>
			<string>奥迪RS 5</string>
			<string>奥迪RS Q3</string>
			<string>奥迪A3</string>
		</array>
		<key>阿尔法罗密欧</key>
		<array>
			<string>Gloria</string>
			<string>ALFA 147</string>
			<string>ALFA 156</string>
			<string>ALFA 8C</string>
			<string>Giulietta</string>
			<string>Disco Volante</string>
			<string>MiTo</string>
			<string>ALFA GT</string>
			<string>ALFA 159</string>
			<string>ALFA 4C</string>
		</array>
		<key>阿斯顿?马丁</key>
		<array>
			<string>Cygnet</string>
			<string>阿斯顿?马丁DB5</string>
			<string>V12 Zagato</string>
			<string>拉共达Taraf</string>
			<string>V12 Vantage</string>
			<string>阿斯顿?马丁DB9</string>
			<string>Virage</string>
			<string>Vulcan</string>
			<string>阿斯顿?马丁DB11</string>
			<string>阿斯顿?马丁DBX</string>
			<string>阿斯顿?马丁DBS</string>
			<string>Vanquish</string>
			<string>阿斯顿?马丁One-77</string>
			<string>Rapide</string>
			<string>阿斯顿?马丁DB10</string>
			<string>V8 Vantage</string>
		</array>
	</dict>
	<key>B</key>
	<dict>
		<key>保时捷</key>
		<array>
			<string>Boxster</string>
			<string>Carrera GT</string>
			<string>保时捷911</string>
			<string>保时捷918</string>
			<string>Cayman</string>
			<string>Mission E</string>
			<string>保时捷356</string>
			<string>保时捷968</string>
			<string>保时捷919</string>
		</array>
		<key>别克</key>
		<array>
			<string>Avenir</string>
			<string>Riviera</string>
			<string>Avista</string>
			<string>Special</string>
		</array>
		<key>奔驰</key>
		<array>
			<string>Ener-G-Force</string>
			<string>奔驰SLR级</string>
			<string>奔驰SLK级AMG</string>
			<string>奔驰CL级AMG</string>
			<string>奔驰F800</string>
			<string>奔驰GLC(进口)</string>
			<string>Coupe SUV</string>
			<string>奔驰F125</string>
			<string>奔驰SL级</string>
			<string>奔驰SLK级</string>
			<string>Concept IAA</string>
			<string>奔驰SLC</string>
			<string>奔驰CL级</string>
			<string>奔驰F 015</string>
			<string>奔驰C级AMG</string>
			<string>奔驰S级AMG</string>
			<string>奔驰SLS级AMG</string>
			<string>Vision</string>
			<string>奔驰SLC AMG</string>
			<string>Sprinter</string>
			<string>AMG GT</string>
			<string>奔驰CLK级</string>
			<string>奔驰A级</string>
			<string>奔驰E级AMG</string>
			<string>奔驰C级</string>
			<string>奔驰C级(进口)</string>
		</array>
		<key>宝沃</key>
		<array>
			<string>Isabella</string>
		</array>
		<key>宝马</key>
		<array>
			<string>Compact Sedan</string>
			<string>ConnectedDrive</string>
			<string>宝马Z8</string>
			<string>宝马M1</string>
			<string>宝马4系</string>
			<string>宝马Z4</string>
			<string>Active Tourer</string>
			<string>EfficientDynamics</string>
			<string>宝马8系</string>
			<string>宝马M4</string>
			<string>宝马M6</string>
			<string>宝马1系M</string>
			<string>Isetta</string>
			<string>Gran Lusso</string>
			<string>3.0 CSL Hommage</string>
			<string>Zagato Coupe</string>
			<string>宝马M3</string>
			<string>宝马3系(进口)</string>
			<string>宝马i8</string>
			<string>宝马M2</string>
		</array>
		<key>宾利</key>
		<array>
			<string>Grand Convertible</string>
			<string>Brooklands</string>
			<string>EXP 10 Speed 6</string>
			<string>欧陆</string>
		</array>
		<key>巴博斯</key>
		<array>
			<string>巴博斯 CLS级</string>
			<string>巴博斯 SLK级</string>
			<string>巴博斯 GL级</string>
			<string>巴博斯 M级</string>
			<string>巴博斯 SLS级</string>
			<string>巴博斯 G级</string>
			<string>巴博斯 SL级</string>
		</array>
		<key>布加迪</key>
		<array>
			<string>威航</string>
			<string>Chiron</string>
			<string>Vision GT</string>
			<string>Galibier</string>
		</array>
		<key>本田</key>
		<array>
			<string>EV-Ster</string>
			<string>本田FCV</string>
			<string>本田S2000</string>
			<string>CLARITY</string>
			<string>本田HR-V</string>
			<string>CONCEPT V</string>
			<string>本田S660</string>
			<string>Pilot</string>
			<string>本田Urban</string>
			<string>VEZEL</string>
			<string>Ridgeline</string>
			<string>本田NSX</string>
		</array>
		<key>标致</key>
		<array>
			<string>标致RCZ</string>
			<string>EXALT</string>
			<string>Urban Crossover</string>
			<string>ONYX</string>
			<string>标致HX1</string>
			<string>Quartz</string>
		</array>
	</dict>
	<key>D</key>
	<dict>
		<key>大众</key>
		<array>
			<string>开迪</string>
			<string>大众XL1</string>
			<string>大众CC</string>
			<string>Bulli</string>
			<string>大众Eos</string>
			<string>Routan</string>
			<string>BlueSport</string>
			<string>高尔夫(进口)</string>
			<string>尚酷</string>
			<string>Nils</string>
			<string>Jetta</string>
			<string>T-Cross</string>
			<string>CrossBlue</string>
			<string>T-ROC</string>
			<string>e-Co-Motion</string>
			<string>开迪(海外)</string>
			<string>大众XL</string>
			<string>Buggy Up</string>
			<string>Cross Coupe</string>
			<string>Taigun</string>
			<string>凯路威</string>
			<string>C Coupe</string>
			<string>BUDD-e</string>
			<string>Passat</string>
			<string>Tristar</string>
			<string>Amarok</string>
		</array>
		<key>道奇</key>
		<array>
			<string>蝰蛇</string>
			<string>锋哲</string>
			<string>Dart</string>
			<string>Charger SRT</string>
			<string>凯领(海外)</string>
			<string>Durango</string>
			<string>Charger</string>
			<string>挑战者</string>
			<string>酷搏</string>
			<string>道奇Ram</string>
			<string>挑战者 SRT</string>
		</array>
	</dict>
	<key>F</key>
	<dict>
		<key>Faraday Future</key>
		<array>
			<string>FFZERO1</string>
		</array>
		<key>Fisker</key>
		<array>
			<string>Karma</string>
		</array>
		<key>丰田</key>
		<array>
			<string>丰田86</string>
			<string>丰田iQ</string>
			<string>Auris</string>
			<string>丰田NS4</string>
			<string>Avalon</string>
			<string>Verso-S</string>
			<string>丰田FT-86</string>
			<string>Tacoma</string>
			<string>HIACE</string>
			<string>Matrix</string>
			<string>Mirai</string>
			<string>Avensis</string>
			<string>Harrier</string>
			<string>SIENTA</string>
			<string>Verso</string>
			<string>丰田FT-1</string>
			<string>PROACE</string>
			<string>Hilux</string>
			<string>WISH</string>
			<string>4Runner</string>
			<string>Aygo</string>
			<string>丰田S-FR</string>
			<string>丰田FT-EV</string>
			<string>YARiS(海外)</string>
			<string>Supra</string>
		</array>
		<key>法拉利</key>
		<array>
			<string>Dino</string>
			<string>法拉利250 GT</string>
			<string>法拉利348</string>
			<string>法拉利F355</string>
			<string>法拉利F430</string>
			<string>法拉利458</string>
			<string>法拉利488</string>
			<string>法拉利FF</string>
			<string>法拉利599</string>
			<string>Sergio</string>
			<string>Enzo</string>
			<string>法拉利575M</string>
			<string>法拉利612</string>
			<string>法拉利F40</string>
			<string>F12berlinetta</string>
			<string>LaFerrari</string>
			<string>GTC4Lusso</string>
			<string>California</string>
			<string>法拉利360</string>
		</array>
		<key>福特</key>
		<array>
			<string>Figo</string>
			<string>FLEX</string>
			<string>B-MAX</string>
			<string>Tourneo Courier</string>
			<string>Transit</string>
			<string>Atlas</string>
			<string>Kuga</string>
			<string>Grand C-MAX</string>
			<string>Tourneo Custom</string>
			<string>Evos</string>
			<string>福特GT</string>
			<string>Start</string>
			<string>Falcon</string>
			<string>Galaxy</string>
			<string>Vertrek</string>
			<string>Fusion</string>
			<string>S-MAX</string>
			<string>Ranger</string>
			<string>Mustang</string>
			<string>C-MAX</string>
		</array>
		<key>福田</key>
		<array>
			<string>萨瓦纳</string>
		</array>
	</dict>
	<key>G</key>
	<dict>
		<key>GMC</key>
		<array>
			<string>TERRAIN</string>
			<string>ACADIA</string>
			<string>CANYON</string>
			<string>SAVANA</string>
			<string>SIERRA</string>
		</array>
		<key>Gumpert</key>
		<array>
			<string>Apollo</string>
		</array>
		<key>光冈</key>
		<array>
			<string>女王</string>
			<string>嘉路</string>
			<string>大蛇</string>
		</array>
		<key>广汽传祺</key>
		<array>
			<string>EV coupe</string>
		</array>
	</dict>
	<key>H</key>
	<dict>
		<key>Hennessey</key>
		<array>
			<string>Venom GT</string>
			<string>VelociRaptor</string>
		</array>
	</dict>
	<key>J</key>
	<dict>
		<key>吉利汽车</key>
		<array>
			<string>美人豹</string>
		</array>
		<key>捷豹</key>
		<array>
			<string>捷豹F-PACE</string>
			<string>捷豹XK</string>
			<string>捷豹F-TYPE</string>
		</array>
	</dict>
	<key>K</key>
	<dict>
		<key>克莱斯勒</key>
		<array>
			<string>Pacifica</string>
		</array>
		<key>凯迪拉克</key>
		<array>
			<string>凯迪拉克CTS</string>
			<string>凯迪拉克XTS(海外)</string>
			<string>Seville</string>
			<string>凯迪拉克ATS-L</string>
			<string>凯迪拉克CT6</string>
			<string>凯迪拉克CTS(进口)</string>
			<string>Ciel</string>
			<string>凯迪拉克XT5(海外)</string>
			<string>凯迪拉克ELR</string>
			<string>凯迪拉克BLS</string>
			<string>凯迪拉克ATS(进口)</string>
			<string>凯迪拉克STS</string>
			<string>Brougham</string>
			<string>SLS赛威</string>
			<string>Elmiraj</string>
			<string>凯迪拉克CT6(海外)</string>
			<string>凯迪拉克XTS</string>
			<string>凯迪拉克SLS(海外)</string>
			<string>凯雷德ESCALADE</string>
		</array>
		<key>科尼赛克</key>
		<array>
			<string>科尼赛克CCR</string>
			<string>Regera</string>
			<string>Agera</string>
			<string>科尼赛克CCXR</string>
			<string>One:1</string>
		</array>
	</dict>
	<key>L</key>
	<dict>
		<key>兰博基尼</key>
		<array>
			<string>Asterion</string>
			<string>Veneno</string>
			<string>Estoque</string>
			<string>Centenario</string>
			<string>兰博基尼LM002</string>
			<string>Urus</string>
			<string>Gallardo</string>
			<string>Reventon</string>
			<string>Murcielago</string>
			<string>Huracan</string>
			<string>Sesto Elemento</string>
			<string>Aventador</string>
			<string>Egoista</string>
		</array>
		<key>劳斯莱斯</key>
		<array>
			<string>魅影</string>
			<string>曜影</string>
			<string>Silver Shadow</string>
		</array>
		<key>林肯</key>
		<array>
			<string>Continental</string>
		</array>
		<key>莲花汽车</key>
		<array>
			<string>莲花T5</string>
		</array>
		<key>蓝旗亚</key>
		<array>
			<string>Ypsilon</string>
		</array>
		<key>路特斯</key>
		<array>
			<string>Elise</string>
			<string>Elan</string>
			<string>Elite</string>
			<string>Esprit</string>
			<string>Exige</string>
			<string>Evora</string>
		</array>
		<key>路虎</key>
		<array>
			<string>Series I</string>
		</array>
		<key>铃木</key>
		<array>
			<string>ALIVIO(海外)</string>
			<string>S-CROSS</string>
			<string>CELERIO</string>
			<string>Baleno</string>
		</array>
		<key>雷克萨斯</key>
		<array>
			<string>雷克萨斯NX</string>
			<string>雷克萨斯LF-SA</string>
			<string>雷克萨斯HS</string>
			<string>雷克萨斯LF-NX</string>
			<string>雷克萨斯SC</string>
			<string>雷克萨斯IS F</string>
			<string>雷克萨斯CT</string>
			<string>雷克萨斯GS</string>
			<string>雷克萨斯GX</string>
			<string>雷克萨斯RX</string>
			<string>雷克萨斯LX</string>
			<string>雷克萨斯LF-FC</string>
			<string>雷克萨斯RX经典</string>
			<string>雷克萨斯LF-C2</string>
			<string>雷克萨斯LF-Gh</string>
			<string>雷克萨斯LF-CC</string>
			<string>雷克萨斯LFA</string>
			<string>雷克萨斯RC</string>
			<string>雷克萨斯LS</string>
			<string>雷克萨斯LC</string>
			<string>雷克萨斯GS F</string>
			<string>雷克萨斯IS</string>
			<string>雷克萨斯ES</string>
			<string>雷克萨斯LF-Xh</string>
			<string>雷克萨斯RC F</string>
		</array>
		<key>雷诺</key>
		<array>
			<string>Clio</string>
			<string>Alpine A110-50</string>
			<string>Wind</string>
			<string>Twingo</string>
			<string>Twizy</string>
			<string>Initiale</string>
			<string>DeZir</string>
			<string>Eolab</string>
			<string>Kwid</string>
			<string>Espace</string>
		</array>
	</dict>
	<key>M</key>
	<dict>
		<key>MG</key>
		<array>
			<string>ICON</string>
			<string>MGTF</string>
		</array>
		<key>MINI</key>
		<array>
			<string>MINI CLUBVAN</string>
			<string>MINI JCW CLUBMAN</string>
			<string>MINI JCW PACEMAN</string>
			<string>MINI ROCKETMAN</string>
			<string>MINI Superleggera Vision</string>
			<string>MINI JCW COUNTRYMAN</string>
			<string>MINI COUPE</string>
			<string>MINI JCW COUPE</string>
			<string>MINI ROADSTER</string>
			<string>MINI PACEMAN</string>
			<string>MINI COUNTRYMAN</string>
			<string>MINI JCW</string>
		</array>
		<key>摩根</key>
		<array>
			<string>3 Wheeler</string>
			<string>摩根Aero 8</string>
			<string>摩根Plus 8</string>
			<string>摩根Aero</string>
		</array>
		<key>玛莎拉蒂</key>
		<array>
			<string>Ghibli</string>
			<string>Coupe</string>
			<string>Levante</string>
			<string>玛莎拉蒂总裁</string>
			<string>GranTurismo</string>
			<string>Spyder</string>
			<string>GranCabrio</string>
			<string>Alfieri</string>
		</array>
		<key>迈凯伦</key>
		<array>
			<string>迈凯伦12C</string>
			<string>迈凯伦540C</string>
			<string>迈凯伦625C</string>
			<string>迈凯伦650S</string>
			<string>迈凯伦F1</string>
			<string>迈凯伦570GT</string>
			<string>迈凯伦570S</string>
			<string>迈凯伦P1</string>
			<string>迈凯伦675LT</string>
		</array>
		<key>马自达</key>
		<array>
			<string>马自达CX-7(进口)</string>
			<string>Hazumi</string>
			<string>马自达3(进口)</string>
			<string>Shinari</string>
			<string>KOERU越</string>
			<string>马自达MX-5</string>
			<string>ATENZA</string>
			<string>马自达2(海外)</string>
			<string>马自达6(进口)</string>
			<string>马自达CX-5(进口)</string>
			<string>马自达RX-7</string>
			<string>马自达RX-8</string>
			<string>马自达8(进口)</string>
			<string>Takeri</string>
			<string>马自达CX-9</string>
			<string>马自达CX-3</string>
		</array>
	</dict>
	<key>N</key>
	<dict>
		<key>Noble</key>
		<array>
			<string>Noble M600</string>
		</array>
		<key>nanoFLOWCELL</key>
		<array>
			<string>Quantino</string>
		</array>
		<key>南京金龙</key>
		<array>
			<string>开沃D11</string>
		</array>
		<key>纳智捷</key>
		<array>
			<string>neora</string>
			<string>S5 TURBO</string>
			<string>U6 TURBO</string>
		</array>
	</dict>
	<key>O</key>
	<dict>
		<key>欧宝</key>
		<array>
			<string>Karl</string>
			<string>Ampera</string>
			<string>英速亚</string>
			<string>欧宝Cascada</string>
			<string>欧宝Adam</string>
			<string>欧宝Corsa</string>
			<string>麦瑞纳</string>
			<string>Monza</string>
			<string>欧宝GT</string>
			<string>Vivaro</string>
			<string>威达</string>
		</array>
		<key>讴歌</key>
		<array>
			<string>讴歌TSX</string>
			<string>讴歌RDX</string>
			<string>讴歌ZDX</string>
			<string>讴歌TL</string>
			<string>讴歌RLX</string>
			<string>讴歌RL</string>
			<string>讴歌TLX</string>
			<string>讴歌MDX</string>
			<string>讴歌NSX</string>
		</array>
	</dict>
	<key>P</key>
	<dict>
		<key>佩奇奥</key>
		<array>
			<string>HEMERA</string>
			<string>CEVENNES</string>
		</array>
		<key>帕加尼</key>
		<array>
			<string>Huayra</string>
			<string>Zonda</string>
		</array>
	</dict>
	<key>Q</key>
	<dict>
		<key>奇瑞</key>
		<array>
			<string>concept β</string>
		</array>
		<key>起亚</key>
		<array>
			<string>Picanto</string>
			<string>Venga</string>
			<string>Provo</string>
			<string>Soul</string>
			<string>Forte</string>
			<string>SPORTAGE</string>
			<string>Niro</string>
			<string>GT4 Stinger</string>
		</array>
	</dict>
	<key>R</key>
	<dict>
		<key>Rezvani</key>
		<array>
			<string>Beast</string>
		</array>
		<key>Rimac</key>
		<array>
			<string>Concept One</string>
		</array>
		<key>Rinspeed</key>
		<array>
			<string>Etos</string>
			<string>Budii</string>
		</array>
		<key>日产</key>
		<array>
			<string>Invitation</string>
			<string>Versa</string>
			<string>Altima</string>
			<string>Hi-Cross</string>
			<string>BladeGlider</string>
			<string>Frontier</string>
			<string>Pivo 3</string>
			<string>CIMA</string>
			<string>日产370Z</string>
			<string>碧莲</string>
			<string>Note</string>
			<string>Teatro for Dayz</string>
			<string>JUKE</string>
			<string>Kicks</string>
			<string>Terra</string>
			<string>Esflow</string>
			<string>日产IDX</string>
			<string>Navara</string>
			<string>Silvia</string>
			<string>日产350Z</string>
			<string>Titan</string>
			<string>日产GT-R</string>
			<string>Pulsar</string>
			<string>Pathfinder</string>
		</array>
		<key>荣威</key>
		<array>
			<string>Vision-R</string>
		</array>
	</dict>
	<key>S</key>
	<dict>
		<key>SSC</key>
		<array>
			<string>Tuatara</string>
		</array>
		<key>Scion</key>
		<array>
			<string>Scion iM</string>
			<string>Scion FR-S</string>
			<string>Scion xB</string>
			<string>Scion iA</string>
			<string>Scion tC</string>
		</array>
		<key>三菱</key>
		<array>
			<string>eK Space</string>
			<string>三菱CA-MiEV</string>
			<string>三菱i</string>
			<string>三菱G4</string>
			<string>三菱GC-PHEV</string>
			<string>三菱GR-HEV</string>
			<string>三菱XR-PHEV</string>
			<string>三菱PX-MiEV</string>
			<string>Mirage</string>
			<string>Colt</string>
		</array>
		<key>世爵</key>
		<array>
			<string>世爵B6</string>
			<string>世爵C8</string>
		</array>
		<key>斯巴鲁</key>
		<array>
			<string>CROSS SPORT</string>
			<string>Exiga</string>
			<string>Trezia</string>
			<string>Hybrid</string>
			<string>LEVORG</string>
			<string>Viziv</string>
			<string>Crossover 7</string>
			<string>斯巴鲁BRZ</string>
		</array>
		<key>斯柯达</key>
		<array>
			<string>Citigo</string>
			<string>MissionL</string>
			<string>CitiJet</string>
			<string>VisionC</string>
			<string>VisionS</string>
			<string>VisionD</string>
			<string>Roomster</string>
		</array>
		<key>萨博</key>
		<array>
			<string>Saab 9-3</string>
			<string>Saab 9-4X</string>
		</array>
	</dict>
	<key>T</key>
	<dict>
		<key>特斯拉</key>
		<array>
			<string>Roadster</string>
		</array>
	</dict>
	<key>W</key>
	<dict>
		<key>威兹曼</key>
		<array>
			<string>威兹曼Roadster</string>
			<string>威兹曼GT</string>
		</array>
		<key>沃尔沃</key>
		<array>
			<string>沃尔沃Coupe</string>
			<string>Estate</string>
			<string>XC Coupe</string>
			<string>XC Classic</string>
		</array>
	</dict>
	<key>X</key>
	<dict>
		<key>现代</key>
		<array>
			<string>康恩迪</string>
			<string>Xcent</string>
			<string>Santa Cruz</string>
			<string>劳恩斯</string>
			<string>维拉克斯</string>
			<string>Intrado</string>
			<string>劳恩斯-酷派</string>
			<string>IONIQ</string>
			<string>Avante</string>
			<string>Genesis G90</string>
		</array>
		<key>西雅特</key>
		<array>
			<string>Ateca</string>
		</array>
		<key>雪佛兰</key>
		<array>
			<string>Niva</string>
			<string>Tahoe</string>
			<string>科迈罗</string>
			<string>Equinox</string>
			<string>Traverse</string>
			<string>Orlando</string>
			<string>雪佛兰Tru</string>
			<string>Code</string>
			<string>科尔维特</string>
		</array>
		<key>雪铁龙</key>
		<array>
			<string>Numero 9</string>
			<string>E-MEHARI</string>
			<string>Survolt</string>
			<string>雪铁龙GT</string>
			<string>C-Zero</string>
			<string>AirCross</string>
		</array>
	</dict>
	<key>Y</key>
	<dict>
		<key>游侠</key>
		<array>
			<string>游侠 X</string>
		</array>
		<key>英菲尼迪</key>
		<array>
			<string>Emerg-E</string>
			<string>英菲尼迪GranTurismo</string>
		</array>
	</dict>
</dict>
</plist>
