<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>奥迪</key>
		<array>
			<string>奥迪Q5</string>
			<string>奥迪A4L</string>
		</array>
	</dict>
	<key>B</key>
	<dict>
		<key>测试</key>
		<array>
			<string>测试1</string>
		</array>
	</dict>
	<key>C</key>
	<dict/>
	<key>D</key>
	<dict/>
	<key>E</key>
	<dict/>
	<key>F</key>
	<dict/>
	<key>G</key>
	<dict/>
	<key>H</key>
	<dict/>
	<key>I</key>
	<dict/>
	<key>J</key>
	<dict/>
	<key>K</key>
	<dict/>
	<key>L</key>
	<dict/>
	<key>M</key>
	<dict/>
	<key>N</key>
	<dict/>
	<key>O</key>
	<dict/>
	<key>P</key>
	<dict/>
	<key>Q</key>
	<dict/>
	<key>R</key>
	<dict/>
	<key>S</key>
	<dict/>
	<key>T</key>
	<dict/>
	<key>U</key>
	<dict/>
	<key>V</key>
	<dict/>
	<key>W</key>
	<dict/>
	<key>X</key>
	<dict/>
	<key>Y</key>
	<dict/>
	<key>Z</key>
	<dict/>
</dict>
</plist>
